* {
  margin: 0;
  padding: 0;
}

.aboutPage {
  padding: 1em;
  margin: 1em;
}
.aboutPage li {
  font-size: 1rem;
  list-style-type: circle;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.aboutLink {
  display: flex;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  margin-top: auto;
  justify-content: space-between;
}
