.dayHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  padding: 1em;
  font-size: 2rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  padding: 1em;
}

.col {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.calendarHeader > h2 {
  margin-right: 1em;
}

.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
