.dayHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.demoImage {
  display: flex;
  margin-top: 1em;
}
.demoImage img {
  width: 100%;
  padding: 1em 3em;
}
.demoImage > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 900px) {
  .demoImage {
    flex-direction: column;
  }
  .demoImage img {
    width: 100%;
    padding: 1em 2em;
  }
}

li {
  list-style: none;
  padding: 1em;
  font-size: 2rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(25px, auto);
  grid-gap: 1em;
  padding: 1em;
}

.col {
  display: flex;
  flex-direction: column;
  height: 600px;
}
.col > div {
  margin-top: 1em;
}

.calendarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 1em 0 1em;
}
.calendarHeader > h2 {
  margin-right: 1em;
}

.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
