.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login > h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#google-signin {
}

.loginDisplay {
  display: flex;
  align-items: center;
}
